name: test

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Test i18n-ai-translate action
        uses: taahamahdi/i18n-ai-translate@master
        with:
          json-file-path: test/en.json
          api-key: ${{ secrets.OPENAI_API_KEY }}
